body, html {
  height: 100%;
}

body {
  background: url('../images/page_bg_nofooter_image.jpg') no-repeat top center, #ebe3c7 url('../images/page_bg_nofooter_pattern.gif') repeat-x 0 0;
  margin: 0;
  padding: 0;
  color: #544e39;
}

#content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -225px;
}

#footer, .push {
  height: 150px;
}

#footer {
  width: 100%;
  background: transparent url('../images/footer.png') no-repeat top center;
  text-align: center;
  /* padding-top: 200px; */
  margin-top: 75px;
}

#footer .content {
  font: 10px/10px georgia;
  margin-top: 125px;
}

#footer .content p {
  padding: 0;
}

#header {
  height: 153px;
}

#header_blocks {
  margin: 0 30px;
  text-align: right;
  padding: 44px 0px 0px 0px;
}

a#logo {
  background: transparent url('../images/badge.png') no-repeat 0 0;
  width: 180px;
  height: 153px;
  display: block;
  position: absolute;
  margin-left: 30px;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #e87156;
  color: #ba3013;
}

a:hover {
  text-decoration: underline;
}

#secondary-menu {
  font: 11px/11px arial;
  text-align: right;
  padding-top: 15px;
}

#secondary-menu a {
  color: #807965;
}

#main-menu {
  font: 20px/20px nimbus-sans-condensed;
  text-align: right;
  text-transform: uppercase;
  padding-top: 32px;
}

#main-menu a {
  color: #807965;
}

#main-menu a:hover {
  color: #544e39;
  text-decoration: none;
}

#main-menu a:active {
  color: #ba3013;
}

#main-menu a.active {
  color: #544e39;
}

h1, h2 {
  color: #ba3013;
  margin-bottom: 16px;
}

h3 {
  color: #ba3013;
  font: bold 14px/16px arial;
}

h1 a, h2 a, h3 a {
  color: #ba3013;
  transition: color 0.15s ease 0s;
  -moz-transition: color 0.15s ease 0s;
  -webkit-transition: color 0.15s ease 0s;
  -khtml-transition: color 0.15s ease 0s;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  color: #e87156;
  text-decoration: none;
}

p.dealer_address {
  color: #544e39;
  font: 11px/16px arial !important;
}

p.pfund_address {
  font: 14px/17px georgia !important;
  color: #807965;
}

h1 {
  font: 36px/36px nimbus-sans-condensed;
}

h2 {
  font: 25px/25px nimbus-sans-condensed;
}

ul.inline li {
  /* padding: 0 0 0 50px; */
}

ul.faq {
  list-style: none;
  margin-bottom: 36px;
}

input[type=text], input[type=password], textarea, select {
  border: 1px solid #D6CFB5;
  border-radius: 3px 3px 3px 3px;
  color: #807965;
  font: italic 14px/14px georgia;
  padding: 5px;
  box-shadow: 0 0 0 white;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}

option {
  margin: 0px 10px 0px 0px;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover, select:hover {
  /* border-color: #ffb4a3; */
  border-color: #ffffff;
}

input[type=text]:focus, input[type=password]:focus, input[type=image]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 6px white;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  -khtml-box-shadow: 0 0 6px white;
  outline: none;
}

input[type=button], input[type=submit], .a_button {
  border: none;
  background: #807965 url('../images/small_button_bg.gif') repeat-x 0 0;
  color: #e0d8bc;
  font: 13px/13px arial;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}

input[type=button], input[type=submit] {
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0px 10px;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.a_button {
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 16px;
  padding: 3px 10px;
}

input[type=button]:hover, input[type=submit]:hover, .a_button:hover {
  text-decoration: none;
  background-position: 0 -22px;
  color: white;
}

input[type=button]:active, input[type=submit]:active, .a_button:active {
  background-position: 0 -44px;
  color: white;
}

.a_button.big {
  display: block;
  height: 30px;
  font: 24px/30px nimbus-sans-condensed;
  text-transform: uppercase;
  margin: 0;
  background: #807965 url('../images/big_button_bg.gif') repeat-x 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

.a_button.big:hover {
  background-position: 0 -36px;
}

.a_button.big:active {
  background-position: 0 -72px;
  text-shadow: none;
}

.social-media-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-media-icon a {
  display: block;
  width: 100%;
  height: 100%;
}

.social-media-icon.facebook {
  background: transparent url('../images/icon_fb.png') 0 0 no-repeat;
}

.social-media-icon.itg {
  background: transparent url('../images/icon_itg.png') 0 0 no-repeat;
}

div.messages {
  border: 1px solid #d6cfb5;
  border-radius: 3px;
  font: 14px/14px georgia;
  opacity: 0.75;
}

.content {
  font: 14px/30px georgia;
}

.content p {
  padding-bottom: 30px;
}

div#main {
  margin-top: 24px;
}

#breadcrumb {
  font: 11px/11px arial;
  margin-top: 24px;
}

#breadcrumb a {
  color: #807965;
}

#frontpage_slider {
  margin-top: 60px;
}

#triptych {
  margin-top: 36px;
  background: transparent url('../images/triptych_lines.png') repeat-y 0 0;
}

#frontpage_col_1 h2 {
  font: 36px/36px nimbus-sans-condensed;
}

#frontpage_col_1 p, #frontpage_col_2 p, #frontpage_col_3 p {
  font: italic 14px/30px georgia;
}

input#edit-search-block-form--2 {
  width: 260px;
  height: 22px;
  padding: 0 10px;
  font: 11px/11px arial;
  color: #c2b686;
}

form#search-block-form input[type=image] {
  position: absolute;
  right: 6px;
  bottom: 6px;
}

table {
  line-height: 14px;
  border-collapse: separate;
  border-spacing: 0px;
  border: solid 1px #c2b686;
}

.views-view-grid {
  width: 100%;
}

.views-view-grid td {
  text-align: center;
  vertical-align: top;
}

.view-instruments .views-field-field-image {
  height: 180px;
}

.view-instruments .views-field-field-image .field-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.view-instruments .views-field-field-image .field-content img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.view-instruments td,
.view-catalog-categories td {
  width: 33.33333%;
  font: 14px/30px georgia;
}

td {
  padding: 5px;
}

tr, tr.odd, tr.even, thead tr {
  border: none;
}

tr td, tr.odd td, tr.even td, thead tr th, .order-pane-table thead th {
  border-top: solid 1px white;
  border-bottom: solid 1px #c2b686;
}

tbody, thead, th {
  border: none;
}

th, .order-pane-table thead th {
  line-height: 30px;
  padding: 5px;
  background-color: transparent;
}

thead tr {
  background-color: rgba(214, 204, 165, 0.5) !important;
}

.order-pane thead {
  background-color: transparent;
}

tr.pane-title-row, tr.review-button-row {
  background-color: rgba(214, 204, 165, 0.5) !important;
}

tr.review-button-row td {
  padding: 6px !important;
}

tr, tr.odd {
  background-color: rgba(235, 227, 199, 0.5);
}

tr td, tr.odd td {
  border-right: solid 1px #ded3ab;
}

tr.even td {
  border-right: solid 1px #ebe3c7;
}

tr td.active, tr.odd td.active, tr.even td.active {
  background-color: rgba(255, 255, 255, 0.25);
}

th.active img {
  padding-left: 5px;
}

tr.even {
  background-color: rgba(255, 248, 225, 0.5);
}

tr:last-child td {
  border-bottom: none;
}

.node-article .field-type-image {
  float: left;
  margin: 0 20px 10px 0;
}

#cboxTitle {
  font-family: nimbus-sans-condensed;
}

.view-uc-catalog a {
  color: #544e39;
}

.view-uc-catalog a:hover {
  color: #ba3013;
}

span.marker {
  font-style: italic;
  margin-left: 10px;
  color: #ba3013;
}

.views-row {
  margin-bottom: 36px;
  border-bottom: solid 1px #d6cfb5;
}

div.taxonomy-term p {
  padding: 0;
}

div.field-name-field-attrib {
  font-style: italic;
  float: right;
}

div.field-name-field-about-author {
  float: right;
  text-align: right;
  font-style: italic;
  font-size: 11px;
  line-height: 13px;
}

div.field-name-field-attrib .field-item:before {
  content: '—';
}

.node-testimonial .field-name-field-photo {
  float: left;
  margin-right: 24px;
}

.node-testimonial .field-name-field-photo img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.node-colleague p {
  padding-bottom: 6px;
  line-height: 16px;
}

.field-label {
  font-weight: normal !important;
}

.node-colleague .field-name-field-logo {
  float: right;
  margin-left: 24px;
}

.region-sidebar-first .block {
  margin-bottom: 24px;
}

#block-system-navigation li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

.node-book .field-name-uc-product-image, .node-accessory .field-name-uc-product-image, .node-product-kit .field-name-uc-product-image {
  float: left;
  margin-right: 24px;
}

.display-price {
  margin-left: 24px;
  color: #ba3013;
}

#block-views-hot_sale_clearance_items-block {
  border: solid 1px #fff8e1;
}

#block-views-hot_sale_clearance_items-block .block-inner {
  background-color: rgba(186, 48, 19, 0.1);
}

#block-views-hot_sale_clearance_items-block h2.block-title {
  font: 16px/35px nimbus-sans-condensed;
  text-transform: uppercase;
  text-align: center;
  color: #fff8e1;
  background: transparent url('../images/hot_sale_arrow.png') 0 0 no-repeat;
  height: 62px;
}

#block-views-hot_sale_clearance_items-block .content {
  font: 11px/13px georgia;
}

#block-views-hot_sale_clearance_items-block .views-row {
  border-width: 1px 0;
  border-color: #fff8e1;
  clear: both;
  padding: 9px;
  margin-bottom: 0;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -khtml-transition: all 0.5s ease 0s;
}

#block-views-hot_sale_clearance_items-block .views-row:hover {
  background-color: rgba(186, 48, 19, 0.1);
}

#block-views-hot_sale_clearance_items-block .views-row a {
  color: #544e39;
}

#block-views-hot_sale_clearance_items-block .views-row a:hover {
  text-decoration: none;
  color: #ba3013;
}

#block-views-hot_sale_clearance_items-block .views-field-uc-product-image {
  float: right;
  margin-left: 5px;
}

#block-uc_cart-cart .cart-block-summary {
  width: 100%;
}

#block-uc_cart-cart .cart-block-items {
  padding: 0;
  font: 11px/13px georgia;
}

li.cart-block-view-cart.active {
  display: none !important;
}

.field-name-field-more-images .field-items div {
  display: inline;
  margin-right: 24px;
}

#node-117 table td {
  text-align: center;
  vertical-align: top;
  font: 14px/30px georgia;
  width: 33.33333%;
}
